<!DOCTYPE html>
<html>
  <head>
    <title>Port</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <%= link_to 'Гловна', "../" %>
      <%= link_to 'Вантажі', cargoes_path %>
      <%= link_to 'Порти', ship_ports_path %>
      <%= link_to "Маршрути", routes_path %>
      <%= link_to "Кораблі", ships_path %>
    </header>
    <%= yield %>
  </body>
</html>
